@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-emerald-600);
    --color-accent-content: var(--color-emerald-600);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-emerald-500);
        --color-accent-content: var(--color-emerald-400);
        --color-accent-foreground: var(--color-white);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* Tambah padding longgar pada sel tabel Flux */
[data-flux-table] th {
    @apply px-5 py-3;
}

[data-flux-table] td {
    @apply px-5 py-3;
}

/* Custom Navigation Loading / Progress Bar (Fresh Emerald Green) */
#nprogress .bar,
.nprogress-custom-parent #nprogress .bar,
#livewire-progress-bar,
.livewire-loading-bar,
div[data-livewire-progress] {
    background: #059669 !important;
    background: linear-gradient(to right, #059669, #06382b, #10b981) !important;
    height: 3px !important;
}

#nprogress .peg,
.nprogress-custom-parent #nprogress .peg {
    box-shadow: 0 0 10px #059669, 0 0 5px #059669 !important;
}

#nprogress .spinner-icon {
    border-top-color: #059669 !important;
    border-left-color: #059669 !important;
}

